@model ML.Producto
@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/js/Validaciones.js"></script>
<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Lista de Productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione una materia para ver su información o el botón de "+" para agregar un nuevo registro</h5>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-auto ms-auto">
            <a class="btn btn-dark" href="@Url.Action("Reporte", "Producto")"><i class="fa-solid fa-file-pdf"></i> Reporte</a>
            <button id="btnAgregar" onclick="AbrirModal()" class="btn btn-success"><i class="fa-regular fa-square-plus"></i> Agregar</button>
        </div>
    </div>
    <br />
    <div class="modal fade " id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            @using (Html.BeginForm("Index", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-content">
                    <div class="modal-header alert-secondary">
                        <h5 class="modal-title" id="exampleModalLabel">Formulario de Productos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        @Html.HiddenFor(model => model.IdProducto)
                        <div class="row">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Nombre)
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon12"><i class="fa-solid fa-tags"></i></span>
                                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @autocomplete="off", @onkeypress="SoloLetras(event, 'txtNombre', 'lblNombre')"})
                                </div>
                                @Html.ValidationMessageFor(model => model.Nombre)
                                @Html.Label("", null,  new {@id="lblNombre"})
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.PrecioUnitario)
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-dollar-sign"></i></span>
                                    @Html.TextBoxFor(model => model.PrecioUnitario, new { @class = "form-control", @id = "txtPrecio", @autocomplete="off", @onkeypress="SoloNumeros(event, 'txtPrecio', 'lblPrecio', 'basic-addon1')"})
                                    @Html.ValidationMessageFor(model => model.PrecioUnitario)
                                </div>
                                @Html.Label("", null,  new {@id="lblPrecio"})
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Stock)
                                <div class="input-group ">
                                    <span class="input-group-text" id="addonStock"><i class="fa-solid fa-cubes-stacked"></i></span>
                                    @Html.TextBoxFor(model => model.Stock, new { @class = "form-control", @id = "txtStock", @autocomplete="off", @onkeypress="SoloNumeros(event, 'txtStock', 'lblStock', 'addonStock')"})
                                    @Html.ValidationMessageFor(model => model.Stock)
                                </div>
                                @Html.Label("", null,  new {@id="lblStock"})
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">

                                @Html.LabelFor(model=> model.Imagen)

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-image"></i></span>
                                    <input id="fuImage" type='file' class="form-control" name="fuImage" onchange="validateFile(this), readURL(this);  " />
                                </div>

                                @if (Model.Imagen != null)
                                {

                                    <img class="text-center" id="Img" src="data:image/*;base64,@Model.Imagen" style="width:250px ; height:250px" />

                                }
                                else
                                {
                                    <img class="text-center" id="Img" src="~/Images/default-product.jpg" style="width:250px ; height:250px" />
                                }


                            </div>
                            <div class="col-md-7">

                                @Html.LabelFor(model => model.Descripcion)
                                <div class="input-group ">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-book-open"></i></span>
                                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @id = "txtFechaNacimiento", @autocomplete="off"})
                                    @Html.ValidationMessageFor(model => model.Descripcion)
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                             <div class=" col-md-4">
                                    @Html.LabelFor(model => model.Proveedor)
                                    <div class="input-group ">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-handshake"></i></span>
                                        @Html.DropDownListFor(model => model.Proveedor.IdProveedor, new SelectList(Model.Proveedor.Proveedores, "IdProveedor", "Nombre"), "Selecciona un proveedor", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Proveedor)
                                    </div>
                                </div>
                                <div class=" col-md-3">
                                    @Html.LabelFor(model => model.Departamento.Area)
                                    <div class="input-group ">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-square-caret-down"></i></span>
                                        @Html.DropDownListFor(model => model.Departamento.Area, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Areas", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Departamento.Area.IdArea)
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    @Html.LabelFor(model => model.Proveedor)
                                    <div class="input-group ">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-tie"></i></span>
                                        @Html.DropDownListFor(model => model.Proveedor.IdProveedor, new SelectList(Model.Proveedor.Proveedores, "IdProveedor", "Nombre"), "Selecciona un proveedor", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Proveedor)
                                    </div>
                                </div>
                        </div>
                        @Html.HiddenFor(model => model.Imagen)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                        <button id="btnGuardar" type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk" style="color: #000000;"></i> Guardar</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal fade" id="NewModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content ">
                <div class="modal-header @TempData["value"]">
                    <div class="alert @TempData["value"]" role="alert">
                        <h4 class="alert-heading">Aviso!</h4>
                        <p>@TempData["Mensaje"]</p>
                        <hr>
                        <p class="mb-0"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (Model.Productos == null || Model.Productos.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #c24e00;"></i> No existen registros de productos
                </div>
            </div>
        </div>
    }
    else
    {
        <table class="table  table-dark table-hover table-striped table-bordered table-responsive" id="table_usuarios">
            <thead>
                <tr class="table-secondary">
                    <td>Editar</td>
                    <td style="display :none;">id</td>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Stock</td>
                    <td>Descripcion</td>
                    <td>Proveedor</td>
                    <td>Departarmento</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (ML.Producto producto in Model.Productos)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("Form", "MateriaController1", new { IdMateria = producto.IdProducto })"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        <td style="display :none;">@producto.IdProducto </td>
                        <td>@producto.Nombre</td>
                        <td>@producto.PrecioUnitario</td>
                        <td>@producto.Stock</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Proveedor.Nombre</td>
                        <td>@producto.Departamento.Nombre</td>

                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "MateriaController1", new { IdMateria= producto.IdProducto})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="fa-solid fa-eraser"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
        $('#NewModal1').modal('@TempData["modal"]');
    });


    function AbrirModal(){
         $('#Modal').modal('show');
    }

</script>   